{% extends 'master.html' %}
{% block head %}
 <meta name="baidu-site-verification" content="SNZu0GacqF" />
{% endblock %}
{% block content %}
    <div class="banner1">
        <div class="container">
            <div class="span_1_of_1">
                <h2><br>&nbsp;</h2>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#dylist').prop('class', 'active');
        });
    </script>
    <div class="grid_1">
        <div class="container">
            {% for film in films %}
                <div class="col-xs-3 col-md-3" style="height: 450px;">
                    <a href="/movie/{{ film.id }}" class="thumbnail">
                        <img src="{{ film.cover_img_link }}" alt="{{ film.film_name }}" style="width:100%;">
                    </a>
                    <div class="caption">
                        <p>{{ film.film_name }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
<ul class="web-paging" style="bottom: 10px;position:absolute; left: 40%">

                    {% if filmpaged.has_previous %}
           <li><a href="?page={{ filmpaged.previous_page_number }}">上一页</a></li>
        {% endif %}

        <span class="thisclass">
            <li>第 {{ filmpaged.number }} 页, 共 {{ filmpaged.paginator.num_pages }} 页</li>
        </span>

        {% if filmpaged.has_next %}
           <li> <a href="?page={{ filmpaged.next_page_number }}">下一页</a></li>
        {% endif %}
			 </ul>

        <div class="clearfix"></div>
    </div>

{% endblock %}