<!DOCTYPE HTML>
<html>
<head>
    <title>DyHell电影网_dyhell电影资源网_迅雷电影下载_高清电影_完整版_BD_HD_最新电影_百度网盘资源--{% block title %}

    {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="百度网盘,迅雷下载,最新电影,中英字幕{% block keywords %}

    {% endblock %}">
    <meta name="description" content="百度网盘,迅雷下载,最新电影,中英字幕{% block description %}

{% endblock %} ">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92771785-1', 'auto');
  ga('send', 'pageview');

</script>

    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <link href="/static/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <!--webfont-->
    <style>
        a:hover, a:focus {
            text-decoration: none;
        }
    </style>

    <script src="/static/js/menu_jquery.js"></script>

    {% block head %}
    {% endblock %}
</head>

<body style="min-height: 800px">

<div class="header">
    <div class="header-inner">
        <div class="nav">
            <ul class="navbar">
                <a class="logo" href="/"></a>
                <li><a id="home" href="/">首页</a></li>

                <li><a id="randomdy" data-act="home-click" href="/random">随便逛逛</a></li>

                {#                <li><a id="dylist" data-act="movies-click" href="/">电影库</a></li>#}
                <li><a id="dylist" data-act="movies-click" href="/movies">电影库</a></li>
                <li><a id="tvlist" data-act="movies-click" href="/tvseries">电视剧库</a></li>
                {#                <li><a data-act="board-click" href="/">精选</a></li>#}

            </ul>
        </div>


        <div id="form1">
            <input id="search_text" type="search" placeholder="找影视剧、影人" maxlength="32" class="search">
            <input id="search_button" type="button" value="" class="submit" data-act="search-click">
            <script>
                $(document).ready(function () {

                    $('#search_text').keydown(function (e) {
                        if (e.keyCode == 13) {
                            location.replace('/result?key=' + $('#search_text').val())
                        }
                    });
                    $("#search_button").click(
                            function () {

                                location.replace('/result?key=' + $('#search_text').val())

                            });
                });
            </script>
        </div>
    </div>

</div>
{% block content %}

{% endblock %}
<div class="footer" style="visibility: visible;">
    <div class="container">
        <p>
            友情链接:  <a href="http://www.likewed.com/v/10319022" target="_blank">木马婚礼</a>

        </p>
        <p>
            骚猪电影所有资源信息均从互联网搜索而来，本站不对显示的内容承担责任
            如您认为本站页面信息侵犯了您的权益，请附上版权证明邮件告知，我们的邮箱：
            dyhell@foxmail.com
            本站尚在建设中,正处于Beta版本,如果建议和意见请发邮件至上邮箱。 我们会尽快回复。谢谢
        </p>
        <p> &copy;2016
            骚猪电影 www.dyhell.com
        </p>
    </div>
</div>
</body>
</html>