
{% extends 'master.html' %}
{% block content %}
	<div class="banner">
		<div class="container">
			<div class="span_1_of_1">
			    <h2>  <br>&nbsp;</h2>

			</div>
		</div>
	</div>
    <script>
     $(document).ready(function() {
         $('#randomdy').prop('class', 'active');
     });
    </script>
	<div class="grid_1">
		<div class="container">
            {% for film in films %}
            <div class="col-xs-3 col-md-3" style="height: 450px;">
    <a href="/movie/{{ film.id }}" class="thumbnail">
      <img src="{{ film.cover_img_link }}"  alt="{{ film.film_name }}">
    </a>
                <div class="caption">
        <p>{{ film.film_name }}</p>
  </div>
                </div>
            {% endfor %}
            </div>

		<div class="clearfix"> </div>
	</div>

{% endblock %}